* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    flex-direction: row;
    background: #040d15;
}

a {
    position: relative;
    display: inline-block;
    padding: 12px 36px;
    margin: 0 30px;
    color: #ffffff;
    background: rgba(0, 0, 0, .2);
    border-radius: 40px;
    font-size: 18px;
    text-decoration: none;
    letter-spacing: 2px;
    overflow: hidden;
}

span {
    position: absolute;
    background: #ffffff;
    transform: translate(-50%, -50%);
    pointer-events: none;
    border-radius: 50%;
    animation: animate 1s linear infinite;
}

/*
    Yeah, We dont have any <span>
    But you are gonna realize soon WHY did I do this
*/

@keyframes animate {

    0% {
        width: 0;
        height: 0;
        opacity: .2;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }

}